/* .Main_login .main-container .img-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
}

.Main_login .main-container .form-container {
    width: 50%;
    text-align: center;
    order: 1;
} */

.Main_login .main-container .form-container button {
    /* margin-top: 40px; */
}

.forgot_note{
    margin-top: 10px;
}